<form action="/orders/create" method="POST">


  <div>
    {{#if message}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    <h3>Create a new ORDER</h3>
    <br>
  </div>


  <div class="d-flex justify-content-between">

    <div>
      <label for="orderNumber">Order number</label>
      <input type="text" class="form-control" id="orderNumber" name="orderNumber" value={{nextOrderNumber}} readonly="readonly">
    </div>
    <div>
      <label for="cardCode">Customer code</label>
      <input type="text" class="form-control" id="cardCode" name="cardCode" placeholder="Enter customer code">
    </div>
    <div>
      <label for="cardName">Customer name</label>
      <input type="text" class="form-control" id="cardName" name="cardName" placeholder="Enter customer name">
    </div>
    <div>
      <label for="total">Total</label>
      <input type="number" class="form-control" id="total" name="total" readonly="readonly">
    </div>
    <div>
      <label for="total">Number of lines</label>
      <input type="number" class="form-control" id="numberOfLines" name="numberOfLines" readonly="readonly" value=0>
    </div>
    <div><button type="button" class="btn btn-alert btn-sm btnTestApi">Test api</button></div>

  </div>

  <hr>

  <div id="columnHeaders" class="d-flex justify-content-between columHeaders">


    <div>
      <label for="itemCode">Item code</label>
    </div>
    <div>
      <label for="itemName">Item name</label>
    </div>
    <div>
      <label for="itemQuatity">Quantity</label>
    </div>
    <div>
      <label for="itemPrice">Price</label>
    </div>
    <div>
      <label for="lineTotal">Total</label>
    </div>
    <div>
      <label>Line actions</label>
    </div>

  </div>

  <div id="0" class="d-flex justify-content-between orderLines">

    <div>
    <select class="form-control itemDropdown" id="itemCode0" name="itemCode">
    <option></option>
    </select>
    </div>
    <div>
      <input type="text" class="form-control" id="itemName0" name="itemName" placeholder="itemName">
    </div>
    <div>
      <input type="number" class="form-control calcTriger" id="itemQuantity0" name="itemQuantity" value="0">
    </div>
    <div>
      <input type="number" class="form-control calcTriger" id="itemPrice0" name="itemPrice" value=0>
    </div>
    <div>
      <input type="number" class="form-control" id="lineTotal0" name="lineTotal" readonly="readonly" value=0>
    </div>
    <div>
      <button type="button" class="btn btn-success btn-sm btnAddLIne">+0</button>
      <button type="button" class="btn btn-danger btn-sm btnDeleteLine">-0</button>
    </div>

  </div>
  <hr>
  <!-- ends the items row-->

  <br id="endLinesRows">
<div class="d-flex justify-content-end">
  <button type="submit" class="btn btn-primary">Create</button>
</div>

</form>