<form class="masters" action="/items/create" method="POST">
  <div class="d-flex justify-content-between">

    <div>
      <h3>Create a new item</h3>
    </div>
    <div>
      <label for="itemCode">Code</label>
      <input type="text" class="form-control" id="itemCode" name="itemCode" placeholder="Enter customer code">
    </div>
    <div>
      <label for="itemName">Name</label>
      <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Enter customer name">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

  </div>
</form>